<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>Registro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-img class="register-icon" src={{urlImagen}} (click)="presentActionSheet()"></ion-img>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="name" name="name" placeholder="Usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="Email" [(ngModel)]="email" name="email" placeholder="nombre@ejemplo.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" placeholder="..."></ion-input>
      </ion-item>
      <ion-input #imageUser type="text" value="{{urlImagenObs | async}}" [(ngModel)]="urlImagenInp" name="urlImagen"></ion-input>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="center">
    <ion-fab-button (click)="OnRegister()">
      <ion-icon name="save-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>