<ion-tabs>

  <ion-button (click)='Onlogout()'>Desconectarse</ion-button>

  <!-- <ion-tab-bar slot="top">
    <ion-tab-button>
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Tab 10</ion-label>
    </ion-tab-button>
  </ion-tab-bar> -->
  <ion-tab-bar slot="top">

 

    <ion-tab-button slot="end">
      <ion-icon name="notifications-outline" ></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>


    <!-- <ion-tab-button tab="tab2">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="clientes">
      <ion-icon name="people"></ion-icon>
      <ion-label>Clientes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="prestamos">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Prestamos</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="pagos">
      <ion-icon name="logo-usd"></ion-icon>
      <ion-label>Pagos</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>