<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Portafolio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Portafolio</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Portafolio Page">
    <h2>Welcome the first </h2>
    <p>kgakfgdhfgshdsh dskfklsgdkjfh</p>
    <p>sdjkfhkdshf fdkjshfkjdsh fdjkshfkjdsh</p>
  </app-explore-container>
</ion-content>