<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/clientes"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>

  <ion-card>
    <ion-avatar class="imgProfiler">
      <ion-img src="{{cliente.urlImagen}}">
      </ion-img>
    </ion-avatar>
    <ion-item>
      <ion-input required type="file" accept="image/*" (input)="onUpload($event)"></ion-input> <!--  -->
    </ion-item>

    <ion-item>
      <img [src]="photo">

      <ion-fab  horizontal="center" >
        <ion-fab-button (click)="takePicture()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ion-fab>

    </ion-item>

    <ion-card-content>
      <ion-card-title>
        Informacion Personal
      </ion-card-title>
      <ion-list lines="full">
        <ion-item *ngIf="cliente">
          <ion-label position="floating">No Cliente</ion-label>
          <ion-input required type="number" [(ngModel)]="cliente.noCliente"></ion-input>
        </ion-item>
        <ion-item *ngIf="cliente">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input required type="text" [(ngModel)]="cliente.nombre"></ion-input>
        </ion-item>
        <ion-item *ngIf="cliente">
          <ion-label position="floating">Segundo Nombre</ion-label>
          <ion-input required type="text" [(ngModel)]="cliente.nombre2"></ion-input>
        </ion-item>
        <ion-item *ngIf="cliente">
          <ion-label position="floating">Apellido Parterno</ion-label>
          <ion-input required type="text" [(ngModel)]="cliente.apellido"></ion-input>
        </ion-item>
        <ion-item *ngIf="cliente">
          <ion-label position="floating">Apellido Materno</ion-label>
          <ion-input required type="text" [(ngModel)]="cliente.apellido2"></ion-input>
        </ion-item>
        <ion-item *ngIf="cliente">
          <ion-label position="floating">Celular</ion-label>
          <ion-input required type="tel" placeholder="6624737005" [(ngModel)]="cliente.celular"></ion-input>
        </ion-item>
        <ion-item *ngIf="cliente">
          <ion-label position="floating">Email</ion-label>
          <ion-input required type="email" placeholder="test@gamail.com" [(ngModel)]="cliente.email"></ion-input>
        </ion-item>

        <ion-input #imageUser type="hidden" value="{{urlImagen | async}}" [(ngModel)]="cliente.urlImagen"></ion-input>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        Domicilios
      </ion-card-title>
      <ion-list>
        <ng-container *ngIf="!domicilios || domicilios.length == 0">
          <div *ngFor="let n of [0,1,2]" padding>
            <ion-skeleton-text></ion-skeleton-text>
            <p>
              <ion-skeleton-text class="text-skeleton"></ion-skeleton-text>
            </p>
          </div>
        </ng-container>
        <ion-item-sliding *ngFor="let domicilio of domicilios">
          <ion-item lines="inset" button [routerLink]="['/domicilios-details', cliente.id]">
            <ion-label>
              <h3>{{ domicilio.calle }} </h3>
              <p>{{domicilio.numero}}</p>
              <p>{{domicilio.codigoPostal}}</p>
            </ion-label>
            <!-- <ion-note slot="end" color="primary">{{ cliente.noCliente }}</ion-note> -->
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option (click)="remove(item)" color="secondary">
              Check
              <ion-icon name="checkmark" slot="end"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-fab horizontal="center">
    <ion-fab-button (click)="saveCliente()">
      <!-- <ion-icon name="add"></ion-icon> -->
      <ion-icon name="clipboard"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab horizontal="end" color="danger">
    <ion-fab-button color="danger" (click)="onRemoveCliente(clienteId)" routerLink="tabs/clientes"
      routerDirection="forward">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>